.nav {
    position: sticky;
    top: 0;
    z-index: 100;

    background: #1e1e22;

    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* container */
.nav__inner{
    width: 100%;
    padding: 16px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.nav__brand img {
    height: 85px;
}

/* links */
.nav__links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav__links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav__links a:hover {
    color: #f3b24f;
}

/* signout */
.nav__signout {
    background: none;
    border: none;
    color: #e6e6e6;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.nav__signout:hover {
    color: #f3b24f;
}

/* burger */
.nav__burger {
    display: none;
    font-size: 22px;
    background: none;
    border: none;
    color: white;
}

/* mobile */
@media (max-width: 768px) {

    .nav__burger {
        display: block;
    }

    .nav__links {
        position: absolute;
        top: 70px;
        right: 20px;

        flex-direction: column;
        align-items: flex-start;

        background: #2b2b30;
        padding: 16px;
        border-radius: 10px;

        display: none;
    }

    .nav__links.is-open {
        display: flex;
    }

    .nav__links a {
        padding: 6px 0;
    }
}

.nav__profile-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-weight: 700;
}

.nav__profile-link:hover {
    color: #f3b24f;
}
